
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: candara;
	font-size:20px;
 /* background-color: lightblue;*/
}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

/*h1 tag code*/
.donar{
    margin-top: 2px;
    text-align:center;
    text-shadow: 2px 2px 8px #1e1e1e
}
/*placing the images*/
.features{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:55px;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left:5px
}
/*cards inside the image are placed**/
.feature-box{
    background-color: rgb(243, 232, 232);
  width: 190px;
    height: 230px;
	margin-left:20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow:  5px 10px 30px rgba(0, 0, 0, 0.13);
}
.feature-box:hover {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.13) ;
  }
  .f-img{
    width:130px;
    height:130px; 
    margin-top:20px ;
    margin-left:30px ;/*chaged 35*/
    border-radius:7.5px;
}

.f-text{
	
    width: 90%;
    height: 25%;
    margin-left:12px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-btn{
    font-family: candara;
 font-size: 25px;
    width: 120px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc6f41; /*change the color*/
    border-radius: 10px;
    color: black;
    transition: 0.6s ease-in-out;
}
.main-btn:hover{
    box-shadow: 5px 10px 30px rgba(252, 59, 0, 0.397);
}
.container{
    max-width:700px;
    margin:50px auto;
    width:100%;
}
table{
    border:1px soild ;
    border-collapse: collapse;
    width:100%;
}
table th{
    background-color:red;
    color:white;
    padding:10px;
}
table td  {
    color:black;
    padding:15px;
    font-size:20px;
    text-align:center;
}
table tr:nth-child(even){
    background-color: #e5bfc6;
}
table tr:nth-child(odd){
    background-color:#f6cab7;
} 
